{% extends "attendance/base.html" %}

{% block content %}

    <script>
    // If new_user in GET param 'member', display a success message.
    {% include 'attendance/get_params.js' %}

    var params = getSearchParameters();
    if (params.hasOwnProperty('member')){
        document.write(
            "<div class='row'><div class='col-sm-3'></div>\
            <div class='col-sm-6 alert alert-success'><strong>" +
            params.member + "</strong> signed in.</div></div>"
        )
    }
    </script>

    <h2 class="text-center">Signin to Meeting:</h2>
    <h1 class="text-center">{{ meeting.title }} - {{ meeting.date_time|date }}</h1>

    <div class="row">

        <div class="text-center col-sm-6">

            <p>Either swipe your K-State ID card, or input your registered eID and password.</p>

            <form id='signinForm' method="post" action="{% url 'attendance:signin' meeting.id %}">

                {% csrf_token %}

                {% include "attendance/form.html" %}

                <center><input type="submit" value="Sign In" class="btn btn-primary"/></center>

            </form>
        </div>

        <div class="text-center col-sm-6" style="margin-top:50px;">
            <p>Not a registered user of the K-State MIS Club Attendance App yet?</p>
            <a href="{% url 'attendance:register' %}" class="btn btn-primary">Register</a>
        </div>
    </div>

{% endblock content %}
